*.exe
*.spec
/venv-pyside-deploy
/venvPysideDeploy
/deployment
gui/main_window/__pycache__/main_window.cpython-313.pyc
/main.dist
/gui/main_window/__pycache__
*.cmd
/build
/dist
/.vscode
/__pycache__
/data/__pycache__
/logic/core/bridge/__pycache__
/logic/core/controller/__pycache__
__pycache__/
/P44D5.dist
